In [45]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from random import randint
import pandas as pd
import scipy.stats as stats
from pandas.tools.plotting import scatter_matrix
import pandas as DataFrame

In [8]:
# gives us a floating point value between 6 and 36 months of age.
value = random.uniform(6, 36)
print (value)

14.158768841528603

In [10]:
# gives us a floating point value between 6 and 36 months of age inclusive which means that its
# including both 6 and 36.
value = random.randint(6, 36)
# value = random integer including 6 and 36 and in between.
print (value)

26

In [15]:
import pandas as pd

In [21]:
Toddler = pd.read_csv("Toddler Autism dataset July 2018.csv")
Toddler.head(10)

,Unnamed: 0,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,1,0,0,0,0,0,0,1,1,0,1,28,3,f,middle eastern,yes,no,family member,No
1,2,1,1,0,0,0,1,1,0,0,0,36,4,m,White European,yes,no,family member,Yes
2,3,1,0,0,0,0,0,1,1,0,1,36,4,m,middle eastern,yes,no,family member,Yes
3,4,1,1,1,1,1,1,1,1,1,1,24,10,m,Hispanic,no,no,family member,Yes
4,5,1,1,0,1,1,1,1,1,1,1,20,9,f,White European,no,yes,family member,Yes
5,6,1,1,0,0,1,1,1,1,1,1,21,8,m,black,no,no,family member,Yes
6,7,1,0,0,1,1,1,0,0,1,0,33,5,m,asian,yes,no,family member,Yes
7,8,0,1,0,0,1,0,1,1,1,1,33,6,m,asian,yes,no,family member,Yes
8,9,0,0,0,0,0,0,1,0,0,1,36,2,m,asian,no,no,family member,No
9,10,1,1,1,0,1,1,0,1,1,1,22,8,m,south asian,no,no,Health Care Professional,Yes

In [33]:
import pandas as pd

import numpy as np

In [36]:
import numpy as np
import pandas as pd

a = [['10', '1.2', '4.2'], ['15', '70', '0.03'], ['8', '5', '0']]
df = pd.DataFrame(a, columns=['one', 'two', 'three'])

df['que'] = np.where((df['one'] >= df['two']) & (df['one'] <= df['three'])
                     , df['one'], np.nan)

In [39]:
print()

In [42]:
sns.scatterplot(x="Age_Mons", y="Jaundice", data=df)

NameError: name 'sns' is not defined

In [43]:
sns.scatterplot(x="A1", y="Jaundice", data=df)

NameError: name 'sns' is not defined

In [50]:
sns.set_style('whitegrid')
data1= df1[df1['Class/ASD']=='YES']
data2= df2[df2['Class/ASD Traits ']=='Yes']
print("Adults: ",len(data1)/len(df1) * 100)
print("Toddlers:",len(data2)/len(df2) * 100)

NameError: name 'df1' is not defined

In [46]:
DataFrameName.insert(loc, column, value, allow_duplicates = False)

NameError: name 'DataFrameName' is not defined

In [49]:

# importing pandas module 
import pandas as pd 
   
# reading csv file 
df1 = pd.read_csv('../input/autism-screening/Autism_Data.arff',na_values='?')
df2 = pd.read_csv('../input/autism-screening-for-toddlers/Toddler Autism dataset July 2018.csv',na_values='?')
   
# displying  dataframe - Output 1 
data.head()

FileNotFoundError: File b'../input/autism-screening/Autism_Data.arff' does not exist